body {
background-color: lightgray;        
}
h1{
padding-top: 350px;
padding-left:500px;     
color: coral;
}
H2{
padding-top: 30px;
padding-left: 500px;
color: orange;
}
img {
padding-bottom: 400px;     
}

