body {
background-color: lightgray;        
}
h1 { 
padding-top: 350px;
padding-left:500px;     
color: coral;
}
h2 {
padding-top: 30px;
padding-left: 500px;
color: orange;
}
img {
     position: fixed;
  bottom: 550;
  left: 440;
}


